<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.BlogMapper">

    <resultMap id="base" type="com.mybatis.bean.Blog">
        <id property="id" jdbcType="INTEGER" column="id"/>
        <result property="name" jdbcType="VARCHAR" column="name"/>
    </resultMap>

    <select id="selectAll" resultMap="base">
        select * from blog
  </select>


    <insert id="insert" parameterType="com.mybatis.bean.Blog" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
        insert into blog(name)
        value(#{blog.name,jdbcType=VARCHAR})
    </insert>

    <select id="selectBlog" resultMap="base" parameterType="java.lang.Integer">
        select * from blog
        where id = ${id,jdbcType=INTEGER}
    </select>
</mapper>